@import "./base/colors.css";
@import "./base/reset.css";
@import "./base/typography.css";
@import "./components/note.css";
@import "./components/button.css";
@import "./components/input.css";
@import "./components/palette.css";

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

body {
  background-color: #1d2128;
  font-family: Roboto;
  min-height: 100vh;
}

header {
  background-color: #1d2128;
  width: 100%;
  height: 70px;
  padding: 0px 30px;
  position: fixed;
  z-index: 2;
  border-bottom: 2px solid #d1d1d1;
}

header .text-header {
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.25px;
  text-align: center;
}

#nav {
  margin-top: 68px;
  width: 280px;
  background-color: #1d2128;
  float: left;
  height: 100%;
  position: fixed;
  z-index: 2;
}

.body-nav {
  margin-top: 10px;
}

.body-nav a {
  color: white;
  text-decoration: none;
}

.nav-options {
  height: 48px;
  width: 100%;
}

.nav-options-color {
  background: #999b9e;
  border-radius: 0px 25px 25px 0px;
}

.max-height {
  height: 100%;
}

.border-top {
  border-top: 2px solid #d1d1d1;
  min-height: calc(100vh - 70px);
}

.border-left {
  border-left: 2px solid #d1d1d1;
  min-height: 100%;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-left-16 {
  margin-left: 16px;
}

.display-inline {
  display: inline;
  display: inline-block;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.content {
  margin-top: 70px;
  margin-left: 280px;
  width: calc(100% - 280px);
}

.link {
  background-color: transparent;
  border: none;
  color: inherit;
  text-decoration: none;
}

.link:hover {
  color: inherit;
  cursor: pointer;
}

.link:focus {
  outline: 1px solid inherit;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.modal {
  position: fixed;
  left: 0;
  z-index: 200;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(229, 229, 229, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
    0 4px 8px 3px rgba(60, 64, 67, 0.149);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.modal-close-button {
  float: right;
  margin: 0.2em 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 0.01785714em;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  height: 36px;
  padding: 8px 24px;
  border-radius: 4px;
  border-color: transparent !important;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: rgba(95, 99, 104, 0.039);
}

.open-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.note:hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
}

.modal-title {
  width: calc(100% - 10px);
  min-height: 43px;
  margin: 0 5px;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.00625em;
  border: 0;
  overflow: hidden;
  position: relative;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.75rem;
  padding-bottom: 12px;
  padding-top: 16px;
  word-wrap: break-word;
}

.modal-text {
  width: calc(100% - 10px);
  margin: 0 5px;
  padding: 10px 10px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.00625em;
  border: 0;
  overflow: hidden;
  position: relative;
  color: #202124;
  font-size: 14px;
  line-height: 19px;
  min-height: 150px;
  padding: 4px 16px 12px 0px;
}

.empty--text {
  font-family: var(--primary-font);
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
}

.modal--buttons {
  display: flex;
  justify-content: space-between;
}

.modal--btn-container {
  display: flex;
  gap: 9px;
}

.modal-palete {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 100px;
  width: 36px;
  height: 36px;
}

.modal-palete:hover {
  cursor: pointer;
}

.modal-trash {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 100px;
  width: 36px;
  height: 36px;
}

.modal-trash:hover {
  cursor: pointer;
}

.modal-pin {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 100px;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  #nav {
    width: 100%;
    height: 50px;
    background-color: #1d2128;
    border-bottom: 2px solid #d1d1d1;
  }

  .content {
    margin-top: 116px;
    width: 100%;
    margin-left: 0px;
  }

  .body-nav {
    display: flex;
    margin-top: 0px;
  }

  .border-left {
    border-left: none;
    border-top: 2px solid #d1d1d1;
    min-height: 100%;
  }
}

@media only screen and (max-width: 540px) {
  .modal-content {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
      0 4px 8px 3px rgba(60, 64, 67, 0.149);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 90%;
    border-radius: 0.5rem;
  }

  .nav-options {
    height: 40px;
    width: 100%;
  }

  header {
    display: flex;
    padding: 0 10px;
    height: 70px;
    width: 100%;
    gap: 40px;
    margin: 0;
    position: fixed;
    z-index: 2;
    border-bottom: 2px solid #d1d1d1;
  }

  #nav {
    margin-top: 68px;
    width: 100%;
    background-color: #1d2128;
    height: 42px;
    position: fixed;
    z-index: 2;
    border-bottom: 2px solid #d1d1d1;
  }

  .content {
    width: 100%;
    margin-top: 108px;
  }
}
