:root {
  --note-01: #ffffff;
  --note-02: #f28b82;
  --note-03: #fbbc04;
  --note-04: #fff475;
  --note-05: #ccff90;
  --note-06: #a7ffeb;
  --note-07: #cbf0f8;
  --note-08: #aecbfa;
  --note-09: #d7aefb;
  --note-10: #fdcfe8;
}
